.list_active {
    transition: all;
    transition-duration: 0.5s;
    width: 100%;
    height: clamp(25px, 20vh ,105px);
    animation: 0.5s enter;
}

.list_disabled {
    transition: all;
    transition-duration: 0.5s;
    width: 100%;
    animation: 0.5s exit;
}

@keyframes exit {
    0% {
        margin-bottom: 100px;
    }
    100%{
        margin-bottom: 0px;
    }
}
@keyframes enter {
    0% {
        height: 0px;
    }
    100%{
        height: clamp(25px, 20vh ,100px);
    }
}