:root {
    --level: 1%;
    --widthSkillBar: 10%;
    --widthWhiteSkillText: 0%;
    --opacitySkillText: 0;
}

.portfolio {
    position: relative;
    width: 100%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;
    max-width: 305px;
    color: black;
}
.portfolio__content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
    grid-auto-rows: minmax(20px, auto);
}
.avatar {
    margin: auto;
    z-index: 99;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-size: 75px auto;
    transform: scale(-1, 1);
    background-image: url(../../../img/avatar/avatar.jpg);
}
.close {
    position: absolute;
    right: 10px;
    top: 5px;
    transition: all;
    transition-duration: 0.5s;
}
.close:hover {
    transform: rotate(0.5turn);
}
.circle {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #0047FF;
    border-radius: 100%;
}
.circle__stick_1 {
    width: 2px;
    height: 10px;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.circle__stick_2 {
    width: 2px;
    height: 10px;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(315deg);
}

.me {
    grid-column: 1 / 2;
    display: flex;
}

.info {
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.info__name {
    font-size: 24px;
}

.more {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(20px, auto);
}

.more__title {
    font-weight: 500;
}

.skillList {
    font-size: 20px;
    grid-column: 1 / 2;
    list-style-type: none;
    padding: 0;
}

.skill {
    width: 100%;
}

.skillTitle{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    cursor: pointer;
    position: relative;
    max-width: 120px;
}

.skillTitle::after {
    transition: all;
    transition-duration: 0.5s;
    content: url(../../../img/list_item/Polygon.svg);
    position: absolute;
    top: 0;
    right: 0;
}

.skillTitle_active::after{
    transform: rotateZ(-30deg);
}

.address {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flag {
    margin: 6px;
}

.skills {
    pointer-events: none;
    width: 220px;
    margin: auto;
}

.skillBar {
    margin: 10px 0;
    transition-property: all;
    transition-duration: 0.5s;
    position: relative;
    width: var(--widthSkillBar);
    height: 25px;
    border-radius: 25px;
    background-color: #fff;
}

.skillBar:first-child {
    margin-top: 5px;
}

.skillBar:last-child {
    margin-bottom: 0;
}

.skillLevel {
    overflow: hidden;
    transition-property: all;
    transition-duration: 0.4s;
    position: absolute;
    top: 0;
    left: 0;
    width: var(--level);
    height: 25px;
    border-radius: 25px;
    background-color: #007ACC;
}

.skillLevel::before {
    transition: all;
    transition-duration: 0.5s;
    content: url(../../../img/icons/vscode-icons_file-type-reactts.svg);
    position: absolute;
    left: 10px;
    opacity: var(--opacitySkillText);
}

.skillName {
    transition: opacity;
    transition-duration: 0.5s;
    opacity: var(--opacitySkillText);
    font-size: 14px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.skillName_blue {
    color: #007ACC;
}

.skillName_white {
    width: var(--widthWhiteSkillText);
    color: #ffffff;
}