.container_point {
    display: flex;
    align-items: start;
    width: 100%;
}

.container {
    position: relative;
    padding: 0 20px;
}

.container_before {
    display: flex;
    align-items: start;
    min-width: 60px;
}

.before {
    width: 30px;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    font-size: 12px;
}

.after {
    text-align: left;
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    font-size: 14px;
}

.point {
    transition: 0.2s all;
    border-radius: 100%;
    margin: 0 auto;
    margin-top: 6px;
    width: 10px;
    height: 10px;
    background-color: #007ACC;
    font-size: 12px;
    font-weight: 500;
    z-index: 2;
}

.point:hover {
    margin-top: 4px;
    width: 14px;
    height: 14px;
}

.container_list {
    display: flex;
    flex-direction: column;
}

.list {
    list-style-type: "\2714";
}

.container_list {
    margin-top: 10px;
    text-align: left;
    font-family: Plus Jakarta Sans;
    font-weight: 500;
    font-size: 14px;
}
.linkPoint{
    width: 100%;
    height: 100%;
}

.line {
    position: absolute;
    z-index: -1;
    left: 64px;
    top: 10px;
    width: 2px;
    height: 100%;
    background-color: #ffffff80;
}

@counter-style circled-alpha {
    system: cyclic;
    symbols: "\1F537" "\1F535" "\1F7E6";
    suffix: " ";
}
