.main {
    margin-left: 50px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    /* Note: backdrop-filter has minimal browser support */
    height: 80vh;
    border-radius: 20px;
    padding-right: 20px;
    margin-top: 20px;
}

.scrollWrap {
    height: 100%;
    overflow: auto;
    padding: 11px 24px;
    padding-right: 4px;
}

.description{
    margin-top: 10px;
    display: flex;
    align-items: center;
    white-space: pre-line;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
}
.text {
    margin-left: 25px;
}

@media (319px < width < 1024px) {
    .main {
        margin-left: 0;
        width: 100%;
    }
    .description {
        flex-direction: column;
    }
}
