.main {
    margin-left: 50px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    /* Note: backdrop-filter has minimal browser support */
    height: 80vh;
    border-radius: 20px;
    padding-right: 20px;
}

.scrollWrap {
    height: 100%;
    overflow: auto;
    padding: 11px 24px;
    padding-right: 4px;
}

.description{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.timePoints {
    position: relative;
    display: flex;
    flex-direction: column;
}
