.navbar {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(40px, auto);
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px); /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;
    margin-top: 12px;
    padding: 0 2em 0 2em;
}

.navbar__logo {
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: start;
    letter-spacing: -3px;
}

.logo {
    max-width: 30px;
    max-height: 30px;
}

.socialMediaLogo {
    border-radius: 9px;
    border: none;
    max-width: 30px;
    max-height: 30px;
}

.socialMediaLogo:hover {
    background-color: #fff;
}

.text {
    margin-left: 0.5em;
    font-family: 'OCR A Extended';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #007ACC;
}

.navbar__sm {
    grid-column: 3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.link {
    position: relative;
}
