@font-face {
  font-family: OCR A Extended;
  src: url(./fonts/OCRAEXT.TTF);
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url("./img/background/bubles.png"),
                    linear-gradient(90deg, #007ACC 0%, #B7B7B7 100%);
}

