@font-face {
  font-family: OCR A Extended;
  src: url(./fonts/ocraext/OCR_A_Extended_Regular.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;600&family=Plus+Jakarta+Sans:wght@300;400;500&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url("./img/background/bubles.png"),
                    linear-gradient(90deg, #007ACC 0%, #ffffff 130%);
  background-position: center ;
}

::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track{
  border-radius: 100px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb{
  border-radius: 100px;
  background-color:#007acca1;
}

.content {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
